@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

:root {
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;